* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import fontów do projektu */
@font-face {
    /* przy definiowaniu nazwy fontu musi być tylko jedna nazwa
        fallback dla wyświetlania innego fontu podajemy w regule body
    */
    font-family: "JS Regular";
    src: url("../assets/fonts/JosefinSans-Regular.ttf");
}

body {
    font-family: "JS Regular", sans-serif;
}

/* h1:first-child {
    color: red;
} */


.nav {
    background-color: #fff;
    box-shadow: 0 4px 9px rgba(0,0,0, .2);
    margin-bottom: 90px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    height: 50px;
    width: 50px;
    background-color: #000;
}

.nav__list {
    display: flex;
    /* domyślnym zachowaniem flexa jest */
    /* flex-direction: row; */
    list-style: none;
}



.nav__item {
    padding: 20px 30px;
}

@media only screen and (max-width: 576px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__list {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .nav {
        background-color: #aaa;
    }
}




h1 {
    font-size: 50px;
    text-shadow: 1px 4px 6px rgba(0,0,0, .2), 4px -4px 6px rgba(0,0,0, .2);
}

.box {
    height: 100px;
    width: 100px;
    background-color: #fff;
    padding: 20px 40px;
    /* border-radius: 20px; */
    /* border-top-left-radius: 60px;
    border-bottom-right-radius: 60px; */
    /* border-radius: 60px 0 60px 60px;
    border-radius: 50%; */
    /* will-change optymalizuje animacje */
    will-change: background-color;
    box-shadow: 0 4px 2px rgba(0,0,0, .2);
    transition: background-color 1.2s cubic-bezier(0.22, 1, 0.36, 1) 1s, transform .6s;
    /* transform: translateX(-30%);
    transition: transform .6s; */
}

.box:hover {
    background-color: #000;
    /* transition: background-color .6s; */
}

.item {
    height: 50px;
    width: 50px;
    background-color: darkorange;
    border-radius: 50%;
    animation: my-first-animation 1s ease-in-out infinite;
}

.item:nth-child(2) {
    animation-delay: .1s;
}

.item:nth-child(3) {
    animation-delay: .2s;
}

.item:nth-child(4) {
    animation-delay: .3s;
}

.item:nth-child(5) {
    animation-delay: .4s;
}

.item:nth-child(6) {
    animation-delay: .5s;
}

.item:nth-child(7) {
    animation-delay: .6s;
}



/* własna animacja */
@keyframes my-first-animation {
    0% {
        transform: translateX(0);
        background-color: red;
    }
    
    50% {
        transform: translateX(100px);
        background-color: blue;
    }
    
    100% {
        transform: translateX(0);
        background-color: purple;
    }
}




@media only screen and (min-width: 700px) {
    .box {
        transform: translateX(50%);
    }
}


.img {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1400px) {
    .img {
        background-size: cover;
    }
}

