
/* wybierz wszystkie ul wewnątrz .selectors */
/* .selectors ul {
    background-color: darkorange;
} */

/* wybierz bezpośrednie ul wewnątrz .selectors */
/* .selectors > ul {
    background-color: darkorange;
} */

/* siblings selectors */
/* tylda łapie wszystkie elementy rodzenstwa o danej klasie, znaczniku, itp */
/* h1 ~ ul {
    background-color: blue;
} */

/* + łapie tylko najbliżego brata o danej klasie, znaczniku, itp */
/* h1 + ul {
    background-color: blue;
}

.list .items {
    color: #fff;
}

.list:hover {
    background-color: hotpink;
}

.list.items {
    color: #fff;
} */

/* .selectors .list {
    color: #fff;
} */

/* pseudoclasses */

.selectors:last-child {
    /* background-color: black; */
}

/* .items:only-child {
    background-color: chartreuse;
} */

/* .selectors:nth-child(1) {
    background-color: chocolate;
} */

/* li:nth-child(even) {
    background-color: chocolate;
} */

/* .selectors:nth-last-child(1) {
    background-color: chocolate;
} */

/* ul:first-of-type {
    background-color: crimson;
} */

/* ul:nth-of-type(2) {
    background-color: crimson;
} */

.game {
    height: 100px;
    width: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.game-item {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px inset #000;
}

.game-item:nth-child(6n + 1) {
    background-color: red;
}

/* .game-item:nth-child(7) {
    background-color: red;
}

.game-item:nth-child(13) {
    background-color: red;
}

.game-item:nth-child(19) {
    background-color: red;
}

.game-item:nth-child(25) {
    background-color: red;
} */

/* li:not(:first-child) {
    background-color: blue;
} */

li {
    height: 50px;
}

li:empty {
    background-color: cyan;
}

.heading {
    position: relative;
}

/* .heading::after {
    position: absolute;
    left: 0px;
    bottom: 0;
    content: "";
    height: 5px;
    width: 0;
    background-color: darkmagenta;
    transition: all 1s;
} */

.heading::before {
    position: absolute;
    left: 0px;
    top: 100%;
    content: "";
    height: 5px;
    width: 0;
    background-color: darkmagenta;
    transition: all 1s;
}

.heading:hover::after, .heading:hover::before {
    width: 100%;
}